/* Color Theme Swatches in Hex */
.Anomaly-SFFF-2016-Branding-1-hex {
  color: #59514d;
}
.Anomaly-SFFF-2016-Branding-2-hex {
  color: #f2f2f2;
}
.Anomaly-SFFF-2016-Branding-3-hex {
  color: #d9d9d9;
}
.Anomaly-SFFF-2016-Branding-4-hex {
  color: #262626;
}
.Anomaly-SFFF-2016-Branding-5-hex {
  color: #0d0d0d;
}
